# Configure logging. Remove this entirely if you don't want to write to a logfile.
# Everything is also written to stdout
# level: set the log level, currently everything is logged as INFO or ERROR
# logfile_path: the absolute path to the logfile.
logging:
  level: "DEBUG"
  logfile_path: "/mnt/path/to/logfile.log"

# Enter an email configuration. Remove this config entirely, if you do not want so send mails.
# Note that this requires you to have configured TrueNAS email at Alerts -> Email.
email:
  fromaddr: "admin"
  recipients: "admin"
  send_autobackup_output: true

# List any pools you want to backup
# - pool_name: the name of the pool, also the label under /dev/disk/by-label/
#              current limitation is that each pool_name can only be used once
# - autobackup_parameters: the command line arguments you want to pass to zfs-autobackup
# - split_parameters (optional, true by default): controls shell-style word splitting on zfs-autobackup parameters.
#                     E.g. if you use '--set-properties readonly=on' this needs to be true (or unset).
# - passphrase (optional): encryption passphrase, can be an empty string
pools:
  pool1:
    pool_name: "OnePool"
    split_parameters: true
    autobackup_parameters:
      - "-v"
      - "--debug"
      - "--clear-mountpoint"
      - "--set-properties readlonly=on"
      - "--keep-source=10,1d1w,1w1m,1m1y"
      - "--keep-target=10,1d1w,1w1m,1m1y"
      - "zfs-label"
      - "pool/path/to/target/dataset"
    passphrase: ""
  pool2:
    pool_name: "AnotherPool"
    split_parameters: false
    autobackup_parameters:
      - "-v"
      - "--debug"
      - "--clear-mountpoint"
      - "--keep-source=10,1d1w,1w1m,1m1y"
      - "--keep-target=10,1d1w,1w1m,1m1y"
      - "zfs-label2"
      - "pool/path/to/target/dataset2"
    passphrase: ""
